services:
  postgres:
    image: postgres:16-alpine
    container_name: kila_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - kila_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./back
    container_name: kila_backend
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PORT: ${PORT}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_DATABASE: ${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
      TOKEN_EXPIRATION: ${TOKEN_EXPIRATION}
      API_KEY: ${API_KEY}
    ports:
      - "4003:${PORT}"
    networks:
      - kila_network

  frontend:
    build: ./front
    container_name: kila_frontend
    restart: always
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "5003:3000"
    networks:
      - kila_network

networks:
  kila_network:
    driver: bridge

volumes:
  postgres_data: